* {
    box-sizing: border-box;
}

body {
    background: #10101B;
    height: 100vh;
}

.container {
    margin-top: 30px;
}

.half-width {
    height: 570px;
    background: #222436;
    padding: 30px;
    text-align: center;
}

input[type='text'] {
    background-color: #3D4153;
    padding: 10px 0px;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
    color: #10101B;
    font-size: 2.5rem;
    text-align: center;
}

input[type='text']:focus {
    background-color: #3D4153;
    color: white;
    font-size: 2.5rem;
}

.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    border-radius: 5px;
    background: #495BC3;
    color: #fff;
    font-size: 2.5rem;
}